.page-forgot-password {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background: #3949ab;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url(../../../images/1.jpeg);
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
}
.page-forgot-password p {
  color: #9e9e9e;
}
.page-forgot-password form {
  margin: 30px auto;
}
.page-forgot-password form button{
  width: auto;
}
