.results-panel{
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    
    &.fixed{
        
    }
    &.collapssible{
        
        &.disabled{
            opacity: .5;
        }
        &:hover:not(.open){
            cursor: pointer;
        }
        
        .content{
            display: none;
        }
    }
    
    &.open{
         .title{
             color: #f07d00;
         }
    }
    .title{
        
        span{
            color: #f07d00;
            float: right;
            font-size: 20px;
        }
    }
    .content{
        margin-top: 25px;
        
        h3{
            text-align: center;
            font-size: 26px;
        }
    }
}

.specifications-table{
    padding-top: 25px;
    float: left;
    overflow-x: scroll;
    width: 80%;
    
    table{
        width: calc(100% + 45px);
            
        thead{
            th{
                background: #393939;
                color: #FFF;
                width: 10%;
                padding: 5px 10px;
                
                &:last-child{
                    color: #f07d00;
                }
                
            }
        }
        tbody{
            td{
                &:last-child{
                    background: #eaeaea;
                }
            }
        }
        tfoot{
            td{
                border: none;
                color: #f07d00;
                
                .weight{
                    border: 1px solid #ccc;
                    padding: 5px 0;
                }
            }
        }
        tr{
            &:nth-child(even){
                background: #eaeaea;
            }
        }
        th, td{
            text-align: center;
            border: 1px solid #ccc;
            padding: 5px 0;
        }
    }
}
.specifications-table-labels{
    float: left;
    min-width: 20%;
    padding-top: 25px;
    
    table{
        width: 100%;
            
        thead{
            th{
                
                &:nth-child(1){
                    background: transparent;
                    border: none;
                    height: 55px;
                }
                
            }
        }
        tbody{
            td{
                &:nth-child(1){
                    background: #f07d00;
                    color: #FFF;
                }
                &.good{
                    background: #3CA735;
                }
                &.neutral{
                    background: #009BDE;
                }
            }
        }
        tfoot{
            td{
                border: none;
                color: #f07d00;
            }
        }
        th, td{
            text-align: center;
            border: 1px solid #ccc;
            padding: 5px 0;
        }
    }
}

.bottom-line{
    border-bottom: 1px solid #ccc;
    margin: 25px 0;
}


// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 40px !default;

.range-slider {
  margin: -7px 0 10px 0;
  width: $range-width;
}

.range-slider__range {
    -webkit-appearance: none;
    display: inline-block !important;
    width: calc(100% - (#{$range-label-width + 25px})) !important;
    height: $range-track-height;
    border-radius: 5px;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;
    
    @mixin rangeThumb {
        appearance: none;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        background: #FFF;
        border: 4px solid #ccc;
        margin-top: -6px;
        cursor: pointer;
        transition: background .15s ease-in-out;
    
        &:hover {
          background: $range-handle-color-hover;
        }
    }
    
    @mixin rangeTrack {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
  
    // Thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none; 
      @include rangeThumb;
    }
    
    &::-moz-range-thumb {
      @include rangeThumb;
    }
    
    &::-ms-thumb {
      @include rangeThumb;
    }
    
    // Track
    &::-webkit-slider-runnable-track {
      @include rangeTrack;
    }
    
    &::-moz-range-track {
      @include rangeTrack;
    }
    
    &::-ms-track {
      @include rangeTrack;
    }

  // Range Handle
  &::-ms-thumb {
    
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
}


// Range Label
.range-slider__value {
    display: inline-block;
    position: relative;
    width: $range-label-width;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #ccc;
    color: #333;
    padding: 1px 5px;
    margin-left: 8px;
    
  &:after {
    position: absolute;
    top: -1px;
    left: 39px;
    content: '%';
    background: #ccc;
    width: 16px;
    height: 24px;
    padding-top: 2px;
  }
}


table.options-table {
    color: #393939;
    
    width: 100%;
    font-size: 13px;
    
    tbody{
        tr{
            td{
                text-align: left;
            }
            td .mdi-menu-down{
                color: #333;
            }
            &.level-1{
                background: #f9f9f9;
                td{
                    padding-left: 10px;
                    .title{
                        color: #ef7c00;
                        padding-left: 20px;
                        
                        &:before{
                            position: absolute;
                            content: '';
                            width: 12px;
                            height: 12px;
                            margin-left: -18px;
                            background: #ef7c00;
                            margin-top: 5px;
                            border-radius: 2px;
                        }
                    }
                }
            }
            &.level-2{
                background: #f9f9f9;
                td{
                    padding-left: 25px;
                    .title{
                        color: #009ee2;
                        padding-left: 20px;
                        
                        &:before{
                            position: absolute;
                            content: '';
                            width: 12px;
                            height: 12px;
                            margin-left: -18px;
                            background: #009ee2;
                            margin-top: 5px;
                            border-radius: 2px;
                        }
                    }
                }
            }
            &.level-3{
                td{
                    color: #333;
                    padding-left: 60px;
                }
            }
            &.level-4{
                td:nth-child(1){
                    color: #333;
                    padding-left: 100px;
                }
            }
            &.level-5{
                td:nth-child(1){
                    color: #333;
                    padding-left: 125px;
                }
            }
            &.level-6{
                td:nth-child(1){
                    color: #333;
                    padding-left: 150px;
                }
            }
            &.level-7{
                td:nth-child(1){
                    color: #333;
                    padding-left: 175px;
                }
            }
            &.option{
                input[type=text]{
                    background: #FFF;
                }
            }
        }   
    }
    td, th{
        border: 1px solid #ECECEC;
        padding: 5px 10px;
        text-align: center;
        width: 15%;
        
        &:nth-child(1){
            width: 25%;
        }
        
        input[type=text]{
            width: 100%;
            padding: 3px;
        }
        
        &.add-col{
            display: none;
        }
        &.no-padding{
            padding: 0;
        }
    }
}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

.horizontal-charts{
    margin-top: 40px;
    margin-bottom: 40px;
}

.comparison-labels{
    ul{
        list-style: none;
        display: table;
        margin: 0 auto;
        margin-top: 20px;
        background: #f9f9f9;
        border: 1px solid #f1eded;
        padding: 0;
        
        li{
            float: left;
            
            a{
                padding: 3px 15px;
                color: #333;
                font-size: 13px;
                display: block;
                opacity: .5;
                
                &.active{
                    opacity: 1;
                }
                
                span{
                    width: 13px;
                    height: 13px;
                    display: block;
                    float: left;
                    margin: 3px;
                }
            }
        }
    }
}

.comparison-sensibility{
    b{
        margin: 0 15px;
    }
}