
/* DEFINIR ESCALAS */

#evaluation-quiz{
    background: #009ee2!important;
    position: absolute;
    bottom: 20px;
    right: 0;
}
.list-criteria-container.show-dialog{
    opacity: .4;
}
.list-criteria-container.show-dialog:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.panel-dialog-container-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: .6;
    z-index: 1000;
    display: none;
}
.panel-dialog-container-overlay.show{
    display: block;
}
.panel-dialog-container{
    display: none;
    position: fixed;
    z-index: 19999999;
    top: 0;
    left: 0;
    margin: 4% 5%;
    width: 90%;
    background: #fff;
    border: 1px solid #008ec9;
    height: 80%;
    
    @media screen and (min-width: 1368px) {
      margin: 4% 20%;
      width: 60%;
      height: auto;
    }
}
.panel-dialog-container.show{
    display: block;
}
.panel-dialog-container .panel-content{
    height: 100%;
}
.panel-dialog-container .headertitle{
    margin-top: -15px;
    background: #008ec9;
    color: #FFF;
    height: 50px;
}
.panel-dialog-container .headertitle h3{
    color: #FFF;
    padding: 15px;
}
.panel-dialog-container .headertitle span.done{
    display: block;
    background: #005a94;
    padding: 14px 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.panel-dialog-container .dialog-breadcrumbs ul{
    list-style: none;
    padding: 0;
    background: #005a94;
    color: #003a5c;
    display: inline-block;
    width: 100%;
}
.panel-dialog-container .dialog-breadcrumbs ul li {
    float: left;
    padding: 10px 0;
    width: calc(100% / 3);
    text-align: center;
}
.panel-dialog-container .dialog-breadcrumbs ul li span{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    font-weight: bold;
}
.panel-dialog-container .dialog-breadcrumbs ul li.active{
    background: #003a5c;
    color: #FFF;
}
.panel-dialog-container .dialog-breadcrumbs ul li.active span:after{
    border-left-color: #003a5c;
}
.panel-dialog-container .dialog-breadcrumbs ul li:last-child span:before,
.panel-dialog-container .dialog-breadcrumbs ul li:last-child span:after{
    display: none;
}
.panel-dialog-container .dialog-breadcrumbs ul li span:before{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 21px solid #003a5c;
    position: absolute;
    top: 54%;
    margin-top: -22px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.panel-dialog-container .dialog-breadcrumbs ul li span:after{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 21px solid #005a94;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    left: 100%;
    z-index: 2;
}
.panel-footer{
    position: absolute;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
}
.panel-footer .buttons{
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}
.panel-footer .buttons a{
    display: block;
    background: #292929;
    color: #fff;
    padding: 5px 15px;
    min-width: 85px;
    text-align: center;
}
.panel-footer .buttons a.disabled{
    background: #6E6E6E;
}
.panel-footer .buttons .btn-previous{
    float: left;
}
.panel-footer .buttons .btn-next{
    float: right;
}
.panel-dialog-container .dialog-page{
    display: none;
}
.panel-dialog-container .panel-body{
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.references-table{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    
  &.swings{
    .ref-description{
      text-align: center;
      padding-top: 20px;
      font-weight: bold;
      
      span:nth-child(1){
        margin-right: 10%;
        color: #3CA735;
      }
      span:nth-child(2){
        margin-left: 10%;
        color: #00ACEE;
      }
    }
  }
}
.references-table .row{
    padding: 10px 0;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.references-table ol{
    list-style: none;
    width: 100%;
}
.references-table ol li{
    display: block;
    float: left;
    width: 100%;
    min-height: 56px;
}
.references-table ol li.selected:not(.new-ref):not(.edit-ref) .row:not(.add-new-ref) > div:not(.ref-actions){
    background: #ccc;
    border-color: #fff;
}
.references-table ol li.neutral .row > div:not(.ref-actions){
    background: #00ACEE;
    color: #fff;
    
    textarea{
      color: #333;
    }
}
.references-table ol li.good .row > div:not(.ref-actions){
    background: #3CA735;
    color: #fff;
    
    textarea{
      color: #333;
    }
}
.references-table .ref-sort{
    width: 25px;
    float: left;
    height: 50px;
}
.references-table .ref-sort:before{
  position: absolute;
  content: '';
  margin-left: 5px;
  margin-top: 25px;
  width: 8px;
  height: 8px;
  background-image: url(../images/dragListicon.png);
}
.references-table .ref-content{
    width: calc(100% - 25px);
    float: left;
}
.references-table .ref-description{
    padding: 6px 10px 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #FFE0C3;
    width: 70%;
}
.references-table .ref-name{
    text-align: center;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #FFE0C3;
    font-weight: bold;
    padding: 16px 0;
    width: 17%;
}
.references-table .ref-actions{
    padding: 10px 0;
    font-size: 21px;
    width: 13%;
}
.references-table .row.add-new-ref{
    margin-left: 25px;
    width: calc(100% - 25px);
    float: left;
    margin-top: 15px;
}
.references-table .row.add-new-ref > div{
    padding: 0;
    margin: 0;
    width: 87%;
}
.references-table .row.add-new-ref a{
    border: 1px solid #f07d00;
    color: #f07d00;
    display: block;
    width: 100%;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.references-table .new-ref-template{
    display: none;
}
.references-table ol li textarea{
    display: none;
}
.references-table ol li.new-ref textarea,
.references-table ol li.edit-ref textarea{
    width: 100%;
    height: 33px;
    border: none;
    text-align: center;
    display: block;
    margin-bottom: 4px !important;
    max-width: 100% !important;
    min-height: 33px;
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ccc;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #ccc;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #ccc;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #ccc;
    }
}
.references-table ol li.new-ref .ref-name,
.references-table ol li.edit-ref .ref-name {
    padding: 10px;
    font-weight: normal;
}
.references-table ol li.new-ref .ref-sort:before,
.references-table ol li.edit-ref .ref-sort:before{
    display: none;
}
.references-table ol li .action-btn.save,
.references-table ol li .action-btn.cancel-edit{
    display: none;
}
.references-table ol li.new-ref .action-btn.save,
.references-table ol li.edit-ref .action-btn.save,
.references-table ol li.new-ref .action-btn.cancel-edit,
.references-table ol li.edit-ref .action-btn.cancel-edit{
    display: block;
}
.references-table ol li.new-ref .action-btn.edit,
.references-table ol li.new-ref .action-btn.delete,
.references-table ol li.edit-ref .action-btn.edit,
.references-table ol li.edit-ref .action-btn.delete{
    display: none;
}
.references-table ol li.new-ref span,
.references-table ol li.edit-ref span{
    display: none;
}
.references-table ol li.placeholder{
  height: 65px !important;
  background: #eee;
}

.ref-definition-buttons{
    margin-top: 25px;
    padding-right: 10px;
    height: 35px;
}
.ref-definition-buttons button{
    float: right;
    margin: 0 0 0 15px;
    background: none;
    border: 1px solid #ccc;
    color: #757575;
    padding: 5px 10px 5px 30px;
    background-repeat: no-repeat;
    background-position: 8px;
    
    &.define-good{
      background-image: url(../images/good.png);
    }
    &.define-neutral{
      background-image: url(../images/neutral.png);
    }
}
.define-neutral, .define-good{
  float: right;
  cursor: pointer;
  padding: 4px 4px;
  background: #e0e0e0;
  margin: 3px 2px;
  
  &.disabled{
    opacity: .4;
  }
}
.define-good-icon{
  background-image: url(../images/good.png);
  width: 14px;
  height: 16px;
  display: block;
}
.define-neutral-icon{
  background-image: url(../images/neutral.png);
  width: 14px;
  height: 16px;
  display: block;
}
.ref-definition-buttons button.disabled{
    opacity: .4;
}
a.show-matrix-table{
  color: #ef7c00;
  text-decoration: underline;
  display: none;
  
  i{
    float: right;
    font-size: 20px;
    margin-top: -8px;
  }
}
.options-container{
  //display: none;
  
  .btn-action{
    float: right;
    margin-left: 5px;
    background: #FFF;
    border: 1px solid #393939;
    color: #393939;
  }
}

#define-scales .start-scoring-container{
    padding: 20px 0 0 0;
    
}
#define-scales .start-scoring-container button{
    margin: 0 auto;
    display: block;
}
#define-scales{
  
  &.start-scoring{
  
    .ref-definition-buttons button,
    .references-table li:last-child,
    .references-table .ref-actions,
    .references-table .ref-sort,
    .start-scoring button{
      display: none !important;
    }
    
    .references-table .ref-name{
      width: 25% !important;
    }
  }
  
  &.matrix-table-mode{
    .ref-definition-buttons button,
    .references-table .ref-actions,
    .references-table .ref-sort{
      display: none !important;
    }
    
    .references-table .ref-name{
      width: 25% !important;
    }
    .references-table .add-new-ref{
      margin: 0;
      
      > div{
        width: 100% !important;
      }
    }
    
    .start-scoring-container{
      button{
        float: right;
      }
    }
    a.show-matrix-table, .matrix-table{
      display: block;
    }
  }
}

#compare-refs{
  padding-bottom: 60px;
      
  .question-container{
    display: inline-block;
    width: 100%;
    
    .questiontitle{
      text-align: center;
      
      h3{
        color: #009ADD;
      }
      span{
        color: #424242;
      }
    }
    .question-options{
      margin: 20px 0;
      
      .questionoption{
        width: 100%;
        display: inline-flex;
        margin-bottom: 50px;
        color: #fff;
        
        > div{
          padding: 10px;
          min-height: 65px;
        }
        
        &.first{
          background: #3CA735;
        }
        &.second{
          background: #00ACEE;
        }
        &.no-bg{
          background: #FFF !important;
          color: #333;
          border: 1px solid #ccc;
        }
        
        &.swings{
          .description{
            text-align: center;
            padding-top: 20px;
            font-weight: bold;
            
            span:nth-child(1){
              margin-right: 10%;
              color: #3CA735;
            }
            span:nth-child(2){
              margin-left: 10%;
              color: #00ACEE;
            }
          }
          
          .name{
            border-left: 1px solid #ccc;
          }
        }
        
        .description{
          width: 75%;
          float: left;
        }
        .name{
          width: 25%;
          float: left;
          border-left: 1px solid #fff;
          padding-top: 20px;
          text-align: center;
        }
      }
    }
    .question-answers{
      width: 100%;
      float: left;
      min-height: 100px;
      
      .options{
        display: table;
        margin: 0 auto;
        
        input{
          margin: 0 5px;
        }
        a{
          margin-left: 15px;
          text-decoration: underline;
        }
      }
    }
  }
  .questions-navigation{
    button{
      display: inline;
      background: #EE7500;
    }
    .next-question{
      float: right;
    }
  }
}
#obtain-scale{
  .charts{
    margin-top: 50px;
  }
  &.matrix-table-mode{
    a.show-matrix-table, .matrix-table{
      display: block;
    }
  }
  .options-container{
    float: left;
    width: 100%;
    
    .propose-weight.enabled{
      color: rgb(240, 125, 0);
      border-color: rgb(240, 125, 0);
    }
  }
  .matrix-table{
    float: left;
    width: 100%;
  }
}

.painel-controls{
  width: calc(100% + 2px);
  background: #393939;
  padding: 10px;
  float: left;
  display: none;
  
  &.disabled{
    opacity: .3;
  }
  
  .use-by-default{
    float: left;
    margin-left: 20px;
    padding-top: 6px;
    color: #fff;
  }
}

.matrix-table{
  display: none;
  
  table{
    margin: 0 auto;
    margin-top: 30px;
    
    thead{
      th{
        border: none;
        font-weight: bold;
      }
    }
    tbody{
      td:hover{
        cursor: pointer;
        font-weight: bold;
      }
      td.active{
        color: #3CA735;
      }
    }
    th, td{
      padding: 5px;
      text-align: center;
      border: 1px solid #eee;
      min-width: 120px;
      
      &.featured{
        font-weight: bold;
        background: #eee;
        
        &:hover{
          cursor: initial;
        }
      }
      &.transparent{
        border: none;
        
        &:hover{
          cursor: initial;
        }
      }
    }
    tr{
      
    }
  }
}

.multisteprange{
  position: relative;
  display: block;
  width: 850px;
  padding-left: 20px;
  margin: 0 auto;
  min-height: 90px;
  
  $num_options: 8;
  $range_width: 620px;
  $range_paddings: 80px;

  @mixin rangeThumb {
    width: 22px;
    height: 22px;
    margin: -5px 0  0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 5px solid #37adbf;
  }
  
  @mixin rangeTrack {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .range {
    position: relative;
    width: $range_width;
    height: 5px;
    float: left;
    display: none;
  }
  .range-line{
    position: absolute;
    width: $range_width;
    height: 10px;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 63px;
    
    &:before{
      position: absolute;
      content: '';
      height: 8px;
      background: #fff;
      z-index: 999;
    }
    &:after{
      position: absolute;
      content: '';
      height: 8px;
      background: #37adbf;
    }
  }
  
  .range input {
    width: 100%;
    position: absolute;
    top: 28px;
    height: 0;
    -webkit-appearance: none;
  
    // Thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none; // needed again for Chrome & Safari
      @include rangeThumb;
    }
  
    &::-moz-range-thumb {
      @include rangeThumb;
    }
  
    &::-ms-thumb {
      @include rangeThumb;
    }
  
    // Track
    &::-webkit-slider-runnable-track {
      @include rangeTrack;
    }
  
    &::-moz-range-track {
      @include rangeTrack;
    }
  
    &::-ms-track {
      @include rangeTrack;
    }
  
    &:focus { // override outline/background on focus
      background: none;
      outline: none;
    }
  
    &::-ms-track { // A little somethin' somethin' for IE
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  
  // Labels below slider
  .range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    
    li {
      position: relative;
      float: left;
      width: ($range_width + $range_paddings) / $num_options;
      text-align: center;
      color: #393939;
      font-size: 14px;
      cursor: pointer;
      
      &::before {
        position: absolute;
        top: 42px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        z-index: 1000;
      }
      &::after {
        position: absolute;
        top: 46px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 18px;
        height: 8px;
        background: #fff;
        z-index: 1001;
      }
      &.last:before{
        left: 3px;
      }
      &.last:after{
        width: 10px;
        left: -5px;
      }
      &.isolated:after{
        width: 0;
        left: 0;
      }
      &:first-child::after{
        width: 10px;
        left: 5px;
      }
      &.isolated{
        span{
          position: absolute;
          top: 40px;
          left: 55px;
          width: 63px;
        }
      }
      
      .interval{
        position: absolute;
        background: #ffffff;
        width: 84px;
        height: 10px;
        top: 45px;
        left: -37px;
        z-index: 999;
      }
    }
    
    .active {
      color: #37adbf;
    }
    
    .selected::before {
      background: #37adbf;
      border-color: transparent;
    }
    .selected::after {
      display: none;
    }
    
    .active.selected::before {
      width: 22px;
      height: 22px;
      margin-top: -3px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      border: 5px solid #37adbf;
    }
  }
}