.list-criteria-container.options {
    position: relative;
}

.options-evaluation{
    margin-top: 20px;
    
    table{
        color: #393939;
        
        &.total-score{
            margin: 20px 0;
            
            td:nth-child(1){
                color: #f07d00;
                text-transform: uppercase;
                text-align: left;
                padding-left: 15px;
            }
        }
        
        width: 100%;
        font-size: 13px;
        
        thead{
            tr:nth-child(1){
                th:nth-child(2){
                    background: #6E6E6E;
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
            tr:nth-child(2){
                th:nth-child(1){
                    background: #393939;  
                    color: #FFF;
                    text-transform: uppercase;
                    text-align: left;
                }
                th{
                    background: #F4F4F4;
                }
            }
            th{
                border-color: transparent;
                
                input[type=text]{
                    border: 1px solid #f07d00;
                    background: transparent;
                }
            }
        }
        tbody{
            tr{
                &:nth-child(even){
                    background: #F4F4F4;
                }
                
                &.collapsible{
                    &:hover{
                        cursor: pointer;
                    }
                    td{
                        text-align: left;
                        color: #FFF;
                    }
                    span{
                        font-size: 20px;
                    }
                }
                &.level-1{
                    background: #f07d00;
                    td:nth-child(1){
                        padding-left: 25px;
                        text-transform: uppercase;
                        text-align: left;
                    }
                    td{
                        text-align: center;
                    }
                }
                &.level-2{
                    background: #008ec9;
                    td:nth-child(1){
                        padding-left: 50px;
                        text-align: left;
                    }
                    td{
                        text-align: center;
                    }
                }
                &.level-3{
                    td:nth-child(1){
                        color: #333;
                        padding-left: 75px;
                    }
                }
                &.level-4{
                    td:nth-child(1){
                        color: #333;
                        padding-left: 100px;
                    }
                }
                &.level-5{
                    td:nth-child(1){
                        color: #333;
                        padding-left: 125px;
                    }
                }
                &.level-6{
                    td:nth-child(1){
                        color: #333;
                        padding-left: 150px;
                    }
                }
                &.level-7{
                    td:nth-child(1){
                        color: #333;
                        padding-left: 175px;
                    }
                }
                &.option{
                    input[type=text]{
                        background: #FFF;
                    }
                }
                td:nth-child(1){
                    text-align: left;
                    padding-left: 75px;
                }
            }   
        }
        td, th{
            border: 1px solid #ECECEC;
            padding: 5px 10px;
            text-align: center;
            width: 15%;
            
            &:nth-child(1){
                width: 25%;
            }
            
            input[type=text]{
                width: 100%;
                padding: 3px;
            }
            
            &.add-col{
                display: none;
                min-width: 150px;
            }
            &.no-padding{
                padding: 0;
            }
            
            .impact-mode{
                position: relative;
                
                .input-text{
                    input{
                        display: none;
                        text-align: center;
                        padding: 0;
                        width: calc(100% - 8px);
                        margin: 4px 4px 2px;
                    }
                    .save{
                        display: none;
                        position: absolute;
                        right: 2%;
                        top: 3px;
                        font-size: 18px;
                        color: #6e6e6e;
                    }
                }
            }
        }
    }
}
.footer-buttons{
    width: 100%;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -15px;
    display: inline-block;
    
    a{
        display: block;
        background: #292929;
        color: #fff;
        padding: 5px 15px;
        min-width: 85px;
        text-align: center;
        
        &.disabled{
            background: #6E6E6E;
        }
        &.btn-previous{
            float: left;   
        }
        &.btn-next{
            float: right;
        }
    }
}

.options .btn-group{
    box-shadow: none;
    width: 100% !important;
}
.options .bootstrap-select>.dropdown-toggle{
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-color: transparent;
    
    span{
        text-align: center !important;
        
        .caret{
            display: none;
        }
    }
}

.options .open>.dropdown-toggle.btn-default, .options .open>.dropdown-toggle.btn-default:hover, .options .open>.dropdown-toggle.btn-default:focus{
    background: #FFF;
}
.options .dropdown-menu{
    margin-top: 0px;
    
    li a{
        text-align: center !important;
    }
}