.titleorange{
  color:#ef7c00;
}
.lowercase{
  font-size:12px ;
}
a.aorange{
  font-size:12px ;
  color:#ef7c00;
}
.md-notifications{
  font-size: x-large;
}
.site-menubar-fold .site-menubar {
    width: 90px;
    display: none;

}
.site-navbar {
    background-image: url("../../assets/images/preview.png");}
.site-menubar {
    position: fixed;
    top: 122px; }

    .buttonprimary{
    float: right;
background-color: #FF7E00;
margin-right: 100px;
padding-left: 50px;
padding-right: 50px;
border-radius: 0px;
    border: 0px;}
.site-menubar-unfold .page, .site-menubar-unfold .site-footer {
          padding-top: 30px;
}
.usertext{
margin-left: 44px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;}
.titleblue{
  color:#00a5e5;
}
ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right {
    margin-right: 4.5%;
}
.page-content {
    padding: 70px 30px;
}
a.agray{
color:#d2d2d2;
  font-size:12px ;
}
.media-meta{
  float:right;
}
.navbar-avatar{
      padding-right: 50px !important;
}
.adminname{
  top: 5px;
  position: relative;
  left: 5px;
}
.site-footer-legal {
  text-align: center !important;
  float: none;
  top: -5px;
  position: relative;

}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.buttonmodelcompleted{
  width:200px;
  background-color: #3CA735;
  border:0px;
  border-radius:0px;
}
.buttonmodelevaluation{
  width:200px;
  background-color: #FF7E00;
  border:0px;
  border-radius:0px;

}
.buttonmodeleapproved{
  width:200px;
  background-color: #00A1F3;
  border:0px;
  border-radius:0px;
}
.buttonmodelonprocess{
  width:200px;
  background-color: #FFC900;
  border:0px;
  border-radius:0px;
}
.buttonsize{
      width: 20%;
      left: 9%;
position: relative;
}
.iconsize{
  width: 80px;
}
.verticalLine {
    border-left: 0.5px solid #E7E7E7;
}
.site-footer {
    padding-top: 15px;
    background-color:#6E6E6E;
    color:#fff;
}
.dropdown-menu-media .dropdown-menu-header>h5 {
    margin: 0;
    padding: 0 10px;
}
.dropdown-menu-media>.dropdown-menu-footer {
    background-color: #fff;
    border-top: 1px solid #d2d2d2;
}
.dropdown-menu-media>.dropdown-menu-footer>a {
    padding: 15px 20px!important;
    color: #ef7c00 !important;
    text-align:center;
    font-weight: 700;
}
span.awhite {
    font-size: 14px;
    left: 10px;
    position: relative;
    bottom: 2px;
}
.site-menubar {
    background: #2c2c2c;
        z-index: 19999999;
}
.site-menubar-fold .page, .site-menubar-fold .site-footer {
  margin-left:0px !important;
}
.page {
    background: #fff;
}
p.addnewmodel {
    text-align: center;
    color: #FF7F00;
    border-color: #000;
    border: 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
a.referencemodel:focus, a.referencemodel:hover {
    color: #FF7F00;
    text-decoration: underline;
    font-weight:500;

}
a.referencemodel {
    color: #FF7F00;
    font-weight:500;
}
p.addnewtask {
    text-align: center;
    color: gray;
    border-color: #000;
    border: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
a.referencetask:focus, a.referencetask:hover {
    color: gray;
    text-decoration: underline;
    font-weight:300;
}
.navbar-inverse .navbar-toolbar>li>a {
    color: #009CDF;
}
a.referencetask {

    color: gray;
    font-weight:300;
}
.site-menu>.site-menu-item.active>a {
    color: #6E6E6E;
    background: 0 0;
}

.site-menu>.site-menu-item.active>a:hover {
    color: #FF7F00;
}
@media (min-width: 1600px){}
.col-xlg-5 {
    width: 100%;
}}
