a.iconestatic {
    color: #6E6E6E;
    text-decoration: none;
}
a.iconestatic:hover{
  color:#ef7c00;
}

.titleorange{
  color:#ef7c00;
}
.lowercasenobold{
  color:#757575;
  font-size:11px ;
  font-weight:lighter !important;
}
.lowercase{
  font-size:12px ;
}
.lowercasehour{
  font-size:12px ;
  font-weight:bold;
}
.userareatext{
  font-size:14px ;
  font-weight:bold;
  top: 15%;
    position: relative;
}
.dropdown-user {
    margin-top: 0px !important;
      padding: 0px 0 !important;
      border-radius:0;
  }
  .questionicon{
  font-size: 0.89em !important;
line-height: .75em;
vertical-align: -15%;
color: #ef7c00;
margin-left:10px;
}
a.breadcrumborange{
  font-size:15px ;
  color:#ef7c00 !important;
  margin-right:10px
}
a.breadcrumborange.active{
  font-size:15px ;
  color:#000 !important;
  margin-right:10px
}
.allstatus{
  float: right;
font-size: 12px;
border: 1px solid #EDEDED;
padding: 3px 15px;
vertical-align: middle;
color:#757575;
background-color:transparent;
}

.btn-info.focus, .btn-info:focus, .btn-info:hover, .btn-info:active, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info:active:hover  {
    background-color: transparent;
    border-color: #ef7c00;
    color:#757575;
}

.maintd.task{
width: 74%;
}
span.statustext {
    position: relative;
    bottom: 2px;
    right: 6px;
}
.userareamail{
top: 15%;
  position: relative;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover{
  color: #fff;
cursor: default;
background-color: transparent;
border-color: #ef7c00;
}
a.aorange{
  font-size:12px ;
  color:#ef7c00;
}
p.basictext {
    font-size: 12px;
    width: 100%;
    font-weight: 400;
}
.basictext{

}
.spanorange{
  color:#ef7c00;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{

  border-top:0px solid;
}
.md-notifications{
  font-size: x-large;
}
.site-menubar-fold .site-menubar {
    width: 90px;
    display: none;

}
.userarea{
  margin:0 0 0 0 !important;

background-color:#EDEDED;
}
hr.verticalliner{
height:35px;
    border-left: 1px solid #e0e0e0;
}
td.iconsize {
    left: 1.5%;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.maintd{
  width:36%;
}
.panel-title {
    display: block;
    padding: 20px 0px;
  }
.table {
    color: #757575;
    border: 1px solid #EDEDED;
    background-color: white;
    box-shadow: 1px 0px 1px 1px #EDEDED;
}
.userarea{
  height:75px;
  margin: 2px 0;
text-align: center;

}
.dropdown-user {
    left: auto;
    width: 201px;
    font-size: 13px;
}
.site-navbar {
    background-image: url("../../assets/images/preview.png");}
.site-menubar {
    position: fixed;
    top: 122px; }
.helpsupport{
    float: right;
  background-color: transparent;
  margin-right: 75px;
  padding-left: 50px;
  border-radius: 0px;
    border: 0px;
  color:#fff;}
  .questionsupport{
    font-size: inherit;
        margin-right: 5px;
    }


  .helpsupport:hover, .helpsupport:active, .helpsupport:focus{
  text-decoration:none;
      float: right;
    background-color: transparent;
margin-right:75px;
    padding-left: 50px;
    border-radius: 0px;
      border: 0px;
    color:#fff;}{
      float: right;
    background-color: transparent;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px;
      border: 0px;
    color:#fff;}{
      float: right;
    background-color: transparent;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px;
      border: 0px;
    color:#fff;}
    .buttonprimary{
    float: right;
background-color: #FF7E00;
margin-right: 100px;
padding-left: 50px;
padding-right: 50px;
border-radius: 0px;
    border: 0px;}
.site-menubar-unfold .page, .site-menubar-unfold .site-footer {
          padding-top: 30px;
}
.usertext{
margin-left: 44px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;}
.titleblue{
  color:#00a5e5;
}
ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right {
    margin-right: 4.5%;
}
.page-content {
    padding: 70px 30px;
}
a.agray{
color:#d2d2d2;
  font-size:12px ;
}
.media-meta{
  float:right;
}
.navbar-avatar{
      padding-right: 60px !important;
}
.adminname{
  top: 5px;
  position: relative;
  left: 5px;
}
.site-footer-legal {
  text-align: center !important;
  float: none;
  top: -15px;
  position: relative;

}
span.chevron {
    top: 4px;
    position: relative;
    left: 4px;
    color: #e7a200 !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    }
span.chevronnotifications{
        top: -2px;
        position: relative;
        left: 7px;
        color: #e7a200 !important;
        font-weight: 600 !important;
        font-size: 18px !important;
        }
  span.chevronflags{
            top: 2px;
            position: relative;
            left: 7px;
            color: #e7a200 !important;
            font-weight: 600 !important;
            font-size: 18px !important;
            }
span.chevronstatus {
    position: relative;
    color: #757575!important;
    font-weight: 600 !important;
    font-size: 18px !important;
    margin-left: 24px;
}
.buttonuserarea {
    float: none;
    background-color: #00A1F3;
    border-radius: 0px;
    border: 0px;
    width: 120px;
    height: 30px;
    bottom: 15px;
    left: 20%;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.buttonmodelcompleted{
  width:200px;
  background-color: #3CA735;
  border:0px;
  border-radius:0px;
}
.buttonmodelevaluation{
  width:200px;
  background-color: #FF7E00;
  border:0px;
  border-radius:0px;

}
.buttonmodeleapproved{
  width:200px;
  background-color: #00A1F3;
  border:0px;
  border-radius:0px;
}
.buttonmodelonprocess{
  width:200px;
  background-color: #FFC900;
  border:0px;
  border-radius:0px;
}
.buttonmodelcompleted.task{
  width:120px;
  background-color: #3CA735;
  border:0px;
  border-radius:0px;
}
.buttonmodelactive.task{
  width:120px;
  background-color: #FF7E00;
  border:0px;
  border-radius:0px;

}
td.iconsize.task {
    left: 10.5%;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.buttonsize.task {
    width: 12%;
    left: 10%;
    position: relative;
    padding-left: 0% !Important;
}
.back{
  float:left;

}
.next{
  float:right;
}
.flagdrop{
  top: 4px;
}
a.next:hover , a.back:hover{
  text-decoration: none;
    color: #ef7c00;
}
.pagination-gap>li:first-child>a, .pagination-gap>li:last-child>a {
    border-radius: 0px;}
    .pagination-gap>li>a {
    margin: 0 5px;
    border-radius: 0px;
}
.pagination {
    display: inline;
    padding-left: 0;
    margin: 22px 0;
    border-radius: 3px;
    font-size: 11px;
    left: 30vw;
    position: relative;
}
.pagination>li>a:focus{
  z-index: 2;
color: #e0e0e0;
background-color: transparent;
border-color: #e0e0e0;
}

.pagination>.active>a , .pagination>.active>a:focus{
z-index: 3;
color: #e0e0e0;
cursor: default;
background-color: transparent;
border-color: #ef7c00;
}
.pagination-gap>li>a:hover {
    background-color: transparent;
    border-color: #ef7c00;
    color: #e0e0e0;
}
.pagination-gap>li>a {
    color: #e0e0e0;
}

@media (max-width: 1600px){
.buttonsize.task {
    width: 17%;
    left: 5%;
    position: relative;
    padding-left: 0% !Important;
}}
.buttonmodeleapproved.task{
  width:120px;
  background-color: #00A1F3;
  border:0px;
  border-radius:0px;
}
.buttonmodelonprocess.task{
  width:120px;
  background-color: #FFC900;
  border:0px;
  border-radius:0px;
}
.buttonsize {
    width: 27%;
    left: 12%;
    position: relative;
    padding-left: 8% !Important;
}

.iconsize{
  width: 80px;
}
.iconsize.task{
  width: 4%;
}
.verticalLine {
    border-left: 0.5px solid #E7E7E7;
}
a.homebreadcrumb {
    color: #005388;
    font-size: 13px;
}
a.homebreadcrumb.active {
    color: #fff;
    font-size: 14px;
}
a.homebreadcrumb.active:hover {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.site-footer {
    padding-top: 15px;
    background-color:#6E6E6E;
    color:#fff;
}
.dropdown-menu-media .dropdown-menu-header>h5 {
    margin: 0;
    padding: 0 10px;
}
.dropdown-menu-media>.dropdown-menu-footer {
    background-color: #fff;
    border-top: 1px solid #d2d2d2;
}
.dropdown-menu-media>.dropdown-menu-footer>a {
    padding: 15px 20px!important;
    color: #ef7c00 !important;
    text-align:center;
    font-weight: 700;
}
span.awhite {
    font-size: 14px;
    left: 10px;
    position: relative;
    bottom: 2px;
}
.site-menubar {
    background: #2c2c2c;
        z-index: 19999999;
}
.site-menubar-fold .page, .site-menubar-fold .site-footer {
  margin-left:0px !important;
}
.page {
    background: #fff;
}
p.addnewmodel {
    text-align: center;
    color: #FF7F00;
    border-color: #000;
    border: 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
a.referencemodel:focus, a.referencemodel:hover {
    color: #FF7F00;
    text-decoration: underline;
    font-weight:500;

}
a.referencemodel {
    color: #FF7F00;
    font-weight:500;
}
p.addnewtask {
    text-align: center;
    color: gray;
    border-color: #000;
    border: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
a.referencetask:focus, a.referencetask:hover {
    color: gray;
    text-decoration: underline;
    font-weight:300;
}
.navbar-inverse .navbar-toolbar>li>a {
    color: #009CDF;
}
a.referencetask {

    color: gray;
    font-weight:300;
}
.site-menu>.site-menu-item.active>a {
    color: #6E6E6E;
    background: 0 0;
}

.site-menu>.site-menu-item.active>a:hover {
    color: #FF7F00;
}
.widthminimum{
  width:10px;
}
ul.dropdown-menu.dropdown-menu-right {
    top: 70%;
    border-radius: 0px;}

.bar{
  border-bottom: 1px solid #ececec;
}
@media (min-width: 1600px){
.col-xlg-5 {
    width: 100%;
}}
@media (max-width: 1600px){
.buttonsize {
    width: 36%;
    left: 3%;
    position: relative;
    padding-left: 8% !Important;
}
.pagination {
    display: inline;
    padding-left: 0;
    margin: 22px 0;
    border-radius: 3px;
    font-size: 11px;
    left: 26vw;
    position: relative;
}
td.iconsize.task {
    left: 3.5%;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
}
@media (max-width: 1300px){
.buttonsize {
    width: 36%;
    left: 1%;
    position: relative;
    padding-left: 4% !Important;
}
}
