/**General Elements login/register/return password/email verification**/
.site-menubar {
    padding: 0px 0px;
    position: fixed;
    top: 111px;
}
.modal{
    z-index: 99999999999 !important;
}

pre,
code {
    font-size: 12px;
}

pre {
    width: 100%;
    overflow: auto;
}

small {
    font-size: 90%;
}

small code {
    font-size: 11px;
}
.btn-lg {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    width: 140px;
    height: 45px;
    font-weight: 500;
}
.social {
    background-color: #2e2a24;
    height: 50px;
    padding-top: 3px;
    padding-left: 10px;
}
.socialsign {
    color: #c9c9c9;
}
.btn-primary {
    color: #fff;
    background-color: #f07d00;
    border-color: #f07d00;
}
.icon {
    color: #008ec9;
}
span.icontexto {
    color: #cececd;
}
.btn-icon {
    padding-top: 0px !important;
}
.panel {
    background-color: #009ee3 !important;
}
.checkbox-lg label {
    padding-left: 12px;
    color: #fff;
    padding-top: 2px;
}
a.pw {
    color: #fff;
}
.form-control {
    border: 0px solid #e0e0e0;
    border-radius: 0px;
}
label.labelform {
    float: left;
    color: #fff;
}
.signin {
    color: #fff;
    font-size: 18px;
}
.lowercase {
    text-transform: lowercase;
}
.bluebold {
    color: #00608b;
    font-weight: bolder;
}
a.bluebold {
    text-decoration: underline;
}
a.bluebold:hover {
    color: #fff;
}
.logopanel {
    background-color: #fff;
}
img.brand-img {
    padding: 30px;
    width: 80%;
}
.linkwhite {
    margin-left: 0px;
}
/** Specific Login Page **/

.page-login-v3 form a {
    margin-left: 0px !important;
}
.page-login-v3 span.pw {
    font-size: 12px !important;
    color: #fff;
}
.page-login-v3 .panel .panel-body {
    padding: 10px 40px 40px;
}
/** Specific register page **/

.page-register-v3 .panel .panel-body {
    padding: 25px 40px 40px;
}
.page-register-v3 form {
    margin: 25px 0 30px;
}
.page-register-v3 .btn-primary {
    color: #fff;
    background-color: #f07d00;
    border-color: #f07d00;
    float: left;
}
.page-register-v3 form a {
    margin-left: 0px;
}
.page-register-v3 .checkbox-custom label {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    color: #fff;
}
.page-register-v3 a.linkwhite {
    text-decoration: underline;
    color: #fff;
}
a.linkwhite.already {
    top: 60px;
    position: relative;
}
/** Page Forget password // Verification of Email // Recover Password **/

.btn-lg {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    width: 200px;
    height: 45px;
    font-weight: 500;
}
.titleh4 {
    COLOR: #fff;
}
.subtitlep {
    color: #fff !important;
}

/* BUTTONS */
.right-button {
    float: right;
}
.border-button {
  background: none;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 15px;
}
.border-button.orange {
  border-color: #f07d00;
  color: #f07d00;
}

/* MODALS */
.modal-content .headertitle{
  background: #009ee3;
  padding: 10px 30px;
  font-size: 22px;
}
.modal-content .headertitle h3{
  color: #fff;
}


/* FORMS */
.form-group > div{
    margin: 10px 0;
}



/* DEFINIR ESCALAS */

.list-criteria-container.show-dialog{
    opacity: .4;
}
.list-criteria-container.show-dialog:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.panel-dialog-container{
    display: none;
    position: absolute;
    top: 40px;
    margin: 15px;
    background: #fff;
    width: calc(100% - 60px);
    min-height: 376px;
    border: 1px solid #008ec9;
}
.panel-dialog-container.show{
    display: block;
}
.panel-dialog-container .headertitle{
    margin-top: -15px;
    background: #008ec9;
    color: #FFF;
    height: 50px;
}
.panel-dialog-container .headertitle h3{
    color: #FFF;
    padding: 15px;
}
.panel-dialog-container .headertitle span.done{
    display: block;
    background: #005A94;
    padding: 13px 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.panel-dialog-container .dialog-breadcrumbs ul{
    list-style: none;
    padding: 0;
    background: #00395B;
    color: #006692;
    display: inline-block;
    width: 100%;
}
.panel-dialog-container .dialog-breadcrumbs ul li {
    float: left;
    padding: 10px 0;
    width: calc(100% / 3);
    text-align: center;
}
.panel-dialog-container .dialog-breadcrumbs ul li span{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.panel-dialog-container .dialog-breadcrumbs ul li.active{
    background: #005A94;
    color: #FFF;
}
.panel-dialog-container .dialog-breadcrumbs ul li.active span:after{
    border-left-color: #005A94;
}
.panel-dialog-container .dialog-breadcrumbs ul li:last-child span:before,
.panel-dialog-container .dialog-breadcrumbs ul li:last-child span:after{
    display: none;
}
.panel-dialog-container .dialog-breadcrumbs ul li span:before{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 21px solid #008ec9;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.panel-dialog-container .dialog-breadcrumbs ul li span:after{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 21px solid hsl(202, 100%, 18%);
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 100%;
    z-index: 2;
}
.panel-footer{
    position: absolute;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
}
.panel-footer .buttons{
    width: 100%;
}
.panel-footer .buttons a{
    display: block;
    background: #292929;
    color: #fff;
    padding: 5px 15px;
    min-width: 85px;
    text-align: center;
}
.panel-footer .buttons a.disabled{
    background: #6E6E6E;
}
.panel-footer .buttons .btn-previous{
    float: left;
}
.panel-footer .buttons .btn-next{
    float: right;
}

.references-table{
    margin-top: 40px;
    display: inline-block;
}
.references-table .row{
    padding: 10px 0;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.references-table ol{
    list-style: none;
}
.references-table ol li{
    display: block;
    float: left;
    width: 100%;
}
.references-table .ref-sort{
    width: 25px;
    float: left;
    height: 50px;
}
.references-table .ref-content{
    width: calc(100% - 25px);
    float: left;
}
.references-table .ref-description{
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.references-table .ref-name{
    text-align: center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: bold;
    padding: 25px 0;
}
.references-table .ref-actions{
    padding: 20px 0;
    font-size: 21px;
}
.references-table .row.add-new-ref{
    margin-left: 25px;
    width: calc(100% - 25px);
    float: left;
}
.references-table .row.add-new-ref > div{
    padding: 0;
    margin: 0;
}
.references-table .row.add-new-ref a{
    border: 1px solid #f07d00;
    color: #f07d00;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}


    