.btn-lg {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    width: 140px;
    height: 45px;
        font-weight: 500;
}
.page-login-v3 form a {
    margin-left: 0px !important;
}
.page-login-v3 span.pw{
  font-size: 12px !important;
      color: #fff;
}
.social {
background-color: #2e2a24 ;
height:50px ;
padding-top: 3px;
padding-left: 10px;
}
.socialsign{
color:#c9c9c9;}
.btn-primary {
    color: #fff;
    background-color: #f07d00;
    border-color: #f07d00;
}
.icon{
  color: #008ec9;
}
span.icontexto {
    color: #cececd;
  }
  .btn-icon {
      padding-top: 0px !important;
  }
  .panel {
    background-color: #009ee3 !important;
  }

  .checkbox-lg label {
    padding-left: 12px;
    color: #fff;
    padding-top: 2px;
}

a.pw {
    color: #fff;
}
.form-control {
    border: 0px solid #e0e0e0;
    border-radius: 0px;
}
label.labelform {
    float: left;
    color: #fff;
}
.signin{
color:#fff;
font-size: 18px;
}
.lowercase{
  text-transform: lowercase;

}
.bluebold{
  color:#00608b;
  font-weight:bolder;
}
a.bluebold:hover{
  color:#fff;
}
.logopanel{
  background-color:#fff;
}
.page-login-v3 .panel .panel-body {
    padding: 10px 40px 40px;
}
img.brand-img {
    padding: 30px;
    width:80%;
}
